kaggle/
data/
*.json
checkpoints
__pycache__/*.cpython-37.pyc
models/mnist/__pycache__/*.pyc
src/__pycache__/*.pyc
models/__pycache__/*.pyc
utils/__pycache__/*.cpython-37.pyc
lightning_logs/
__pycache__/*.cpython-38.pyc
models/celeba/__pycache__/*.cpython-37.pyc
.ipynb_checkpoints
notebooks/non_gan_discriminator.ckpt
