encoder_params:
  encoder_type: "ConvEncoder"
  hidden_dims: null

decoder_params:
  decoder_type: "ConvDecoder"
  hidden_dims: null

loss_params:
  loss_type: "guassian_nll_with_kl"
  kl_coeff: 0.1

exp_params:
  model_name: "guassian_vae"
  dataset: "mnist"
  data_path: "data"
  base_model: "vae"
  latent_dim: 256
  checkpoint_path: "checkpoints"
  batch_size: 512 # Better to have a square number
  LR: 0.001
  image_shape: 
    - 1
    - 32
    - 32

trainer_params:
  gpus: 1
  max_epochs: 50